<div class="container front-container1">
  <div class="container login-top">
    <div class="header">Forgot Password</div>
    <form action="#">
      <div class="field input-field">
        <input type="email" required>
        <label>Email Address</label>
      </div>
      <div class="field input-field">
        <input type="text"  required>
        <label>Mobile Number</label>
      </div>
      <div class="field button-field">
        <button routerLink="/otp-verify">Get OTP</button>
      </div>
      <div class="form-link sign-up">
        <span style="margin-right: 5px;">Back to sign in : </span> <a routerLink="/login">Login</a>
      </div>
    </form>
  </div>
</div>
