.chat-main{
  min-height: 100% !important;
}

.chat-top {
  background-color: #EDEDED !important;
  min-height: 50px;
}

.profile-image {
  margin-top: 7px;
  height: 30px;
  width: 30px;
}

.contacts {
  background-color: #ffffff;
  min-height: 90vh;
}

.contact-table-scroll {
  overflow-y: scroll;
  height: 90vh;
}

.message-area {
  background-color: #e4e1de;
  min-height: 90vh;
}

.message-table-scroll {
  overflow-y: scroll;
  height: 83vh;
}

.message-box {
  background-color: #F0F0F0;
}

.sent-msg {
  width:auto;
  float: right !important;
  max-width: 40%;
} 

.sent-msg p {
  background-color: #d9fdd3;
  color: black !important;
}

.get-msg {
  width:auto;
  float: left !important;
  max-width: 40%;
}

.get-msg p {
  background-color: #f0f2f5;
  color: black !important;
}

.row {
  background-color: #EDEDED;
}

.chat-names {
  cursor: pointer;
}