.navbar {
  background: #4b7bec;
}
.navbar-brand {
  cursor: pointer;
  color: #fff !important;
}
.nav-item a.active {
  color: #000 !important;
}
a.nav-link {
  color: #fff !important;
}
ul.navbar-nav {
  position: absolute;
  right: 40px;
}
ul.navbar-nav .nav-item {
  margin: 0 10px;
}
