<div class="container front-container1">
  <div class="container login-top">
    <div class="header">Change Password</div>
    <form action="#">
      <div class="field input-field">
        <input type="password" required>
        <label>Password</label>
      </div>
      <div class="field input-field">
        <input type="text"  required>
        <label>Re-Enter Password</label>
      </div>
      <div class="field button-field">
        <button>Change Password</button>
      </div>
      <div class="form-link sign-up">
        <span style="margin-right: 5px;">Back to sign in : </span> <a routerLink="/login">Login</a>
      </div>
    </form>
  </div>
</div>
